@font-face {
  font-family: "Inter";
  src:
    url("../../vendor/Inter-Regular.woff2") format("woff2"),
    url("../../vendor/Inter-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("../../vendor/Inter-Bold.woff2") format("woff2"),
    url("../../vendor/Inter-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src:
    url("../../vendor/Inter-Black.woff2") format("woff2"),
    url("../../vendor/Inter-Black.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src:
    url("../../vendor/Inter-Italic.woff2") format("woff2"),
    url("../../vendor/Inter-Italic.woff") format("woff");
  font-style: italic;
}

.body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0;
  background-color: #2a2c2f;
}