.intro {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 48px 0px 48px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0px 24px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    padding: 64px 16px 0px 16px;
  }
}