.footer__links {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.footer__links-item {
  color: #fff;
  text-decoration: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__links {
    font-size: 24px;
    line-height: 24px;
    flex-direction: column;
    gap: 32px;
  }
}